<div class="seller-auth">
    <div class="signup">
        <form #sellerSignUpForm="ngForm" (ngSubmit)="onSubmit(sellerSignUpForm)">
            <h1>Seller SignUp</h1>
            <div class="mb-3">
                <label for="exampleInputName1" class="form-label">Name</label>
                <input type="text" class="form-control" id="exampleInputName1" placeholder="Enter Name" name="name" ngModel>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" placeholder="Enter Password" id="exampleInputPassword1" name="password" ngModel>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email"  autocomplete="username" 
                    placeholder="Enter Email" ngModel>
            </div>

            <button type="submit" style="width: 100%;padding: 5px;border-radius: 6px;">Sign Up</button>
        </form>
    </div>
</div>